synapse/pipeline/StackOverflow - 7zip2Parquet.json
{
	"name": "StackOverflow - 7zip2Parquet",
	"properties": {
		"activities": [
			{
				"name": "ForEach - 7zip Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter - Specific File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter - Specific File').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy - UnZip Files 2 Parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 120,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{concat('/api/SevenZip/'\n,uriComponent(pipeline().parameters.Account)\n,'/'\n,uriComponent(pipeline().parameters.Container)\n,'/'\n,uriComponent(uriComponent(pipeline().parameters.Folder))\n,'/'\n,uriComponent(item().name)\n)}"
								},
								{
									"name": "Destination",
									"value": "lake/StackOverflow/parquet/@{uriComponent(replace(item().name,'.7z','.parquet'))}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET",
										"requestTimeout": "23:00:00"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SevenZipAPI",
									"type": "DatasetReference",
									"parameters": {
										"Account": {
											"value": "@uriComponent(pipeline().parameters.Account)",
											"type": "Expression"
										},
										"Container": {
											"value": "@uriComponent(pipeline().parameters.Container)",
											"type": "Expression"
										},
										"Folder": {
											"value": "@uriComponent(uriComponent(pipeline().parameters.Folder))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@uriComponent(item().name)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ParquetXMLStorage",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@uriComponent(replace(item().name,'.7z','.parquet'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Metadata - List 7z",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:15:00",
					"retry": 3,
					"retryIntervalInSeconds": 90,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ZipXml",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.Container",
								"type": "Expression"
							},
							"folder": {
								"value": "@pipeline().parameters.Folder",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter - Specific File",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata - List 7z",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata - List 7z').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@or(empty(pipeline().parameters.FileName)\n,equals(item().name,pipeline().parameters.FileName)\n)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Container": {
				"type": "string",
				"defaultValue": "lake"
			},
			"Folder": {
				"type": "string",
				"defaultValue": "StackOverflow/raw/History/7z/"
			},
			"Account": {
				"type": "string",
				"defaultValue": "synapselakeapp"
			},
			"FileName": {
				"type": "string"
			}
		},
		"annotations": []
	}
}